body {
    font-family: Monospace;
    background-color: #000;
    color: #fff;
    margin: 0;
    overflow: hidden;
}

#info {
    position: absolute;
    top: 0;
    left: 0;
    width: 11%;
    height: 100vh;
    background: url(../texture/menu-bg.jpg) no-repeat top left;
    background-size: 100% 100%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}
#info a, .button { color: #f00; font-weight: bold; text-decoration: none; cursor: pointer }

div.buttonContainer{
    position: relative;
    width: 100%;
    height: 29%;
    margin-top: 190%;
    z-index: 200;
}
div.button{
    position: relative;
    width: 63%;
    height: 14%;
    margin: 17% auto;
    z-index: 201;
}
/*文物解析*/
.analyze-info{
    display: none;
    position: relative;
    width: 88%;
    height: 100vh;
    margin-left: 11%;
}
.analyzeImg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*文物解析*/
/*二维展示*/
.details-info{
    position: relative;
    display: none;
    width: 88%;
    height: 100vh;
    margin-left: 11%;
}
.detailsFlex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: url("../texture/sanweixiangqing.jpg") no-repeat center center;
}
.details-img{
    width: 20%;
    padding-bottom: 2%;
}
.details-img>img{
    width: 100%;
}
.content-img{
    width: 42%;
}
/*二维展示*/

.loaded-div{
    position: absolute;
    top: 450px;
    margin:0 49%;
    width: 5%;
    color: #9d9d9d;
    font-size: 18px;
    font-weight: 900;
}
.jindu-div{
    font-size: 20px;
    margin-left: 30px;
}
@media screen and (max-width: 768px){
    #info {
        background: none;
    }
    div.buttonContainer{
        margin-top: 450%;
    }
    div.button{
        width: 100%;
    }

    .detailsFlex{
        background-size: 100% auto;
    }
    .details-img{
        width: 35%;
    }
    .content-img{
        width: 65%;
    }
}
@media screen and (max-width: 414px){
    #info {
        height: auto;
    }
    div.buttonContainer{
        margin-top: 20%;
    }
    div.button{
        margin:55% auto;
    }
    .analyze-info,.details-info{
        width: 100%;
        margin-left: 0;
    }
}

