body {
	overflow: hidden;
 }
/*欢迎页样式-start*/
.game-bg{
	width: 100%;
	height: 100vh;
	background: url("../Texture/bg.jpg") no-repeat center center;
	background-size: 100% 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.game-title{
	margin-top: 3%;
	width: 25%;
}
.game-title >img{
	width: 100%;
}
.game-button{
	width: 6%;
	margin-top: 2%;
}
.game-button>a{
	display: block;
	 width: 100%;
}
.game-button>a>img{
	width: 100%;
}
/*欢迎页样式-end*/

/*拼图页样式-start*/
.pingtu-bg,.pingtu-bg1{
	padding: 5%;
	background: url("../Texture/pintuBg.png") no-repeat left top;
	background-size: 100% 100%;
}
.pingtu-bg1{
	width: 45%;
}

/*拼图页样式-end*/

/*详情页样式-start*/
.pingtu-lunbo{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.pingtu-lunbo >.pingtu-lunbo-img{
	display: block;
}

.pingtu-lunbo-img > img {
	display: block;
	width: 100%;
	border-radius: 50%;
}
.pingtu-wenwu-name{
	position: absolute;
	width: 15%;
	top: 45%;
	left: 50%;
}
.pingtu-wenwu-name >img{
	width: 100%;
}
.pingtu-info{
	width: 85%;
	margin: 5% auto;
	margin-bottom: 7%;
}
.pingtu-info >p{
	color: #50210f;
	font-size: 22px;
	font-weight: 600;
	text-indent: 2em;
	text-align: justify;
}
.pingtu-nextPass{
	position: relative;
	top: 95%;
	left: 90%;
}
.clickable >.owl-buttons{
	display: flex;
	justify-content: space-between;
	font-size: 18px;
}
.clickable >.owl-buttons >.owl-prev{
	width: 34px;
	height: 64px;
	background: url("../Texture/left-arrow.png") no-repeat center center;
	background-size: 100% 100%;
}
.clickable >.owl-buttons >.owl-next{
	width: 34px;
	height: 64px;
	background: url("../Texture/right-arrow.png") no-repeat center center;
	background-size: 100% 100%;
}
/*详情页样式-end*/
@media screen and (max-width: 1920px){

}
@media screen and (max-width: 768px){
	.game-bg{
		background-size: auto 100%;
	}
	.game-title{
		margin-top: -5%;
		width: 45%;
	}
	.game-button{
		width: 20%;
		margin-top: 6%;
	}

	/*拼图样式*/
	.pingtu-bg,.pingtu-bg1{
		padding: 15%;
		background-size: 100% 100%;
	}

	/*文物详情页*/
	.pingtu-bg1{
		width: 100%;
	}
	.pingtu-lunbo{
		width: 300px;
	}
	.pingtu-wenwu-name{
		width: 25%;
		top: 40%;
		left: 50%;
	}
	.pingtu-info{
		width: 100%;
		margin: 10% auto;
		margin-bottom: 2%;
	}
	.pingtu-info >p{
		font-size: 18px;
	}
	.pingtu-nextPass{
		top: 98%;
		left: 85%;
	}
}
@media screen and (max-width: 414px){
	.game-title{
		margin-top: -5%;
		width: 50%;
	}
	.game-button{
		width: 25%;
		margin-top: 6%;
	}


	.pingtu-bg1{
		width: 95%;
		border: 3px solid #50210f;
		padding: 1%;
		background: none;
		background-color: #e5c99e;
	}
	.pingtu-wenwu-name{
		width: 29%;
		top: 45%;
		left: 65%;
	}
	.pingtu-info >p{
		font-size: 14px;
	}
	.pingtu-nextPass{
		width: 20%;
		top: 98%;
		left: 75%;
	}
	.pingtu-nextPass > a{
		display: block;
		width: 100%;
	}
	.pingtu-nextPass > a >img{
		width: 100%;
	}
}

