body{
	background-image: url(../Texture/bg.png);
	background-size: 100%;
    background-repeat: no-repeat;
	overflow: hidden;
}

#img1{
	background-image: url(../Texture/拼图背景.png);
	background-repeat: no-repeat;
	background-position: center;
}